@import "suitcss-base";

@import "suitcss-utils-align";
@import "suitcss-utils-display";
@import "suitcss-utils-layout";
@import "suitcss-utils-link";
@import "suitcss-utils-offset";
@import "suitcss-utils-position";
@import "suitcss-utils-size";
@import "suitcss-utils-text";

@import "suitcss-components-arrange";
@import "suitcss-components-button";
@import "suitcss-components-flex-embed";
@import "suitcss-components-grid";

/*@import "./var-definitions";*/


:root {
  --base-color: inherit;
  --base-font: 16px sans-serif;
  --base-link-color: #069;
  --base-link-color-hover: #069;

  --Arrange-gutter-size: 10px;

  --Button-border-width: 1px;
  --Button-border-color: currentcolor;
  --Button-color: inherit;
  --Button-font: inherit;
  --Button-padding: 0.4em 0.75em;
  --Button-disabled-opacity: 0.6;

  --Grid-font-size: 1rem;
  --Grid-gutter-size: 10px;
}

/***********************************/
/**********  TRANSITIONS ***********/
/***********************************/

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/***********************************/
/*********  GENERAL STYLE **********/
/***********************************/

.SiteWrapper {
  min-height:100%;
  position:relative;
}

/************  UTILITIES ***********/
.Pad--t4 {
  padding-top: 40px !important;
}
.Pad--t2 {
  padding-top: 20px !important;
}
.Pad--l2 {
  padding-left: 20px !important;
}
.Pad--r2 {
  padding-right: 20px !important;
}
.Pad--b {
  padding-bottom: 10px !important;
}
.Pad--b2 {
  padding-bottom: 20px !important;
}
.Text--right {
  text-align: right;
}
.Text--left {
  text-align: left;
}
.Text--center {
  text-align: center;
}

.Form-input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #55595C;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.Color--green {
  color: #63a35c;
}

.easyIn {
  animation: fadein 1s;
}

/*************  BUTTONS ***********/

.Button-submit {
  font-size: 14px;
  border-radius: 3px;
  background-color: #00518f;
  color: #FFF;
}


.Button-submit:hover:enabled,
.Button-submit:focus:enabled,
.Button-submit:active:enabled,
.Button-submit.is-pressed:enabled {
  background-color: #029bc3;
  color: #FFF;
  border: #000 solid 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.Button-submit:focus {
  border-color: #069;
  outline: 0;
}

.Button-submit:active,
.Button-submit.is-pressed {
  background-color: #666666;
}

.Button:disabled {
  border: none;
  color: #CCC;
  cursor: not-allowed;
}

/***********************************/
/*************  HEADER *************/
/***********************************/

.Header-container {
  background-color: #00518f;
  height: 135px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  animation: fadein 2s;
  font-weight: 100;
  text-align: right;
}

.Header-schibstedLogo--container {
  background-color: #ffffff;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

.Header-schibstedLogo--image {
  height: 115px;
  width: 86px;
}

.Header-nav {
  padding-top: 60px;
}
.Header-nav--list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Header-nav--item {
  display: inline;
  margin-right: 20px;
}

.Header-nav--link {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
}

.Header-nav--link:hover {
  font-size: 14px;
}

.activeLink {
  font-weight: 500;
  font-size: 14;
}


/***********************************/
/*******  BODY - MAIN - BASE  ******/
/***********************************/

.Main-container {
  top: 135px;   /* Header height */
  bottom: 20px; /* Footer height */
  width: 100%;
  padding-bottom: 300px;
}

/***********************************/
/*************  FOOTER  ************/
/***********************************/

.Footer-container {
  background:#029bc3;
  width:100%;
  height:300px;
  position:absolute;
  bottom:0;
  left:0;
}

.Footer--list {
  color: white;
  font-size: 12px;
  padding-top: 100px;
}

.Footer--link {
  text-decoration: none;
  color: white;
}


/***********************************/
/***********  SOLUTION  ************/
/***********************************/

.Accordion-container {
  padding: 40px 0 !important;
}

.Accordion-detail {
  padding: 20px;
  background-color: #CCCCCC;
  font-size: 12px;
  border: #D9D9D9 solid 1px;
  text-align: center;
}

.Accordion-selector {
  background-color: #eee;
  color: #444;
  border: #D9D9D9 solid 1px ;
  border-radius: 2px;
  border-style: solid;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
}

.Accordion-selector:hover,
.Accordion-selector:focus,
.Accordion-selector:active,
.Accordion-selector.is-pressed {
  background-color: #f5f5f5;
  color: #222;
  border: #C6C6C6 solid 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.Accordion-selector:focus {
  border-color: #069;
  outline: 0;
}

.Accordion-selector:active,
.Accordion-selector.is-pressed {
  background-color: #666666;
}

.activeSection {
  display: block;
  animation: fadein 1s;
}

.inactiveSection {
  display: none;
  animation: fadeout 1s;
}

/***********************************/
/********  REQUIREMENTS  ***********/
/***********************************/

.Requirement-codeSnippet {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}


